.about-container {

    margin-top: $l-size*4;
    margin-bottom: $l-size * 3;
    width:60%;
    padding:$s-size;

    @media(max-width: $breakpoint-l) {
        padding: $l-size;
        width: 70%;
    }

    @media(max-width: $breakpoint-m) {
        width: 75%;
    }
    @media(max-width: $breakpoint-s) {
        width: 80%;
    }
}

.about-title  {
    color: $mil-black;
    text-align: center;
    font-size: $l-size * 2;
    margin-top: $l-size*2;
    margin-bottom: $xl-size ;
    letter-spacing: 0.5rem;
    line-height: 4rem;
}

.about-description {
    color: $mil-black;
    line-height: 4rem;
}

.text-deco {
    background: $mil-black;
    color:rgb(236, 236, 236);
    padding: 0.2rem;
}

.text-deco__highlight {
    font-weight: bold;
}

.container-text-deco__highlight {
    font-size: $s-size;

    h1 {
        color:$mil-blue; 
        text-align: center;


        @media(max-width: $breakpoint-m) {
            padding-top:1rem;
            padding-bottom: 0.5rem;
            line-height: 1.5rem;
            font-size: $l-size;
        }
    }

    &:hover {
        h1 {
            color: white;
        }
    }
    p {
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @media(max-width: $breakpoint-m) {
            padding-top:1rem;
            line-height: 1.5rem;
            font-size: $s-size;
        }
    }

    

}

.highlights-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: [col1-start] 13rem[col2-start] 17rem  [col3-start] 20rem [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    color: #444;

    @media(max-width: $breakpoint-l) {
        grid-gap: 1rem;
        grid-template-columns: [col1-start] 11rem[col2-start] 15rem  [col3-start] 17rem [col3-end];
        grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
        font-size: $s-size;
    }

    @media(max-width: $breakpoint-m) {
        grid-gap: 1rem;
        grid-template-columns: [col1-start] 9rem[col2-start] 11rem  [col3-start] 14rem [col3-end];
        grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
        font-size: $s-size*0.8;
    }
}

.box {
    background-color: whitesmoke;
    color: $mil-black;
    border-radius: 5px;
    padding: 1rem;
    padding-top: 2rem;
    line-height: 3rem;
    &:hover {
        background-color: $mil-blue;
    }
}

.a {
    grid-column: col1-start / col3-start;
    grid-row: row1-start ;

    
}
.b {
    grid-column: col3-start ;
    grid-row: row1-start;
}
.c {
    grid-column: col1-start;
    grid-row: row2-start ;
}
.d {
    grid-column: col2-start /col3-end ;
    grid-row: row2-start /row2-end ;
}