//Colors
$dark-grey: #333;
$mil-coral: #fce6df;
$dark-gray:rgb(145, 145, 145);
$mil-blue:rgb(152, 208, 211);
$mil-black: #484848;

//font size
$font-size-xlarge: 2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;


$breakpoint-s: 420px;
$breakpoint-m: 580px;
$breakpoint-l: 750px;
$breakpoint-xl: 812px;